<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
    <nav>
        <a href="/bank/index">Index</a> |
        <a href="/bank/balance">Balance</a>
    </nav>
</header>
