/bin/
/build/
/me/
vendor/
composer.lock
/.venv/
node_modules
package-lock.json
inspect.output
log-gui-main.ansi
log-gui-inspect.ansi
.log/
inspect-gui
.work/

course.data
result.data
teachers.data

# Windows
.wslrun
*:Zone.Identifier

# Mac
.DS_Store

/exam_archive/
/exam/
stud.txt
stud_fusk.txt
.vscode