/bin/
/build/
/me/
vendor/
composer.lock
/.venv/
node_modules
package-lock.json
inspect.output
log-gui-main.ansi
log-gui-inspect.ansi
.log/
inspect-gui
exam/
exam_mars_20/
exam_may_20/

# Mac
.DS_Store
