<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<header>
    <nav>
        <a href="/bank/index">Index</a> |
        <a href="/bank/balance">Balance</a> |
        <a href="/bank/create">Create account</a> |
        <% if (user) { %>
            <a href="/user/status"><%= user %></a> |
            <a href="/user/logout">Logout</a>
        <% } else { %>
            <a href="/user/login">Login</a>
        <% } %>
    </nav>
</header>

<main>
