# Template config file for databas-v2

[client]
user=dbadm
password=P@ssw0rd

# host for Cygwin and older WSL
#host=127.0.0.1

# host for WSL2 bash, change <hostname> to its real value
#host=<hostname>.local

#port=3306
#protocol=tcp

[mysql]
# To allow for using LOAD DATA INFILE
loose-local-infile = 1
